.spamguardSettings {
	h2, h3 {
		color: #444;
	}
	h3 {
		&.glyph {
			padding-left: 32px;
			line-height: 32px;
			background-repeat: no-repeat;
			background-position: left center;
		}
		&.general {
			background-image: url(../img/general.png);
		}
		&.thirdparty {
			background-image: url(../img/thirdparty.png);
		}
		&.settings {
			background-image: url(../img/settings.png);
		}
	}
}
.spamguardSubtle {
	color: #bbb;
}
.spamguardNotice {
	color: #aaa;
	font-family: serif;
	font-style: italic;
}
.spamguardSection {
	margin: 20px 0;
	padding: 20px 0;
	border-top: 1px dotted #ddd;
}
.spamguardGrid {
	td.typewriter {
		font-size: 12px;
		font-family: monospace;
	}
}
.spamguardActionSet {
	margin: 40px 0;
}
.spamguardSpam td
{
	color: #d00;
}
.introvert {
	color: #999;
}
