{% import "_includes/forms" as forms %}

{% block content %}
	<div class="spamguardSettings">
		<h2>
			{{ name }} <span class="spamguardSubtle">{{ version }} {% if alias != name %}AKA ({{ alias }}){% endif %}</span>
		</h2>
		<p>
			Spam Guard harnesses the power of <a href="http://akismet" target="_blank">Akismet</a> to fight Spam
		</p>

		<div class="spamguardSection">
			<h3 class="glyph general">General Settings</h3>
			{{
				forms.textField({
					id:				"akismetApiKey",
					name:			"akismetApiKey",
					label:			"Akismet API Key"|t,
					instructions:	"The [Akismet](http://akismet.com) service requires a **WordPress** API Key."|t,
					value:			settings.akismetApiKey,
					first:			true,
					autofocus:		true,
					errors:			""
				})
			}}
			{{
				forms.textField({
					id:				"akismetOriginUrl",
					name:			"akismetOriginUrl",
					label:			"Origin URL"|t,
					instructions:	"Your website or blog URL"|t,
					value:			settings.akismetOriginUrl,
					first:			false,
					autofocus:		false,
					errors:			""
				})
			}}
			{{
				forms.checkboxField({
					id:				"logSubmissions",
					name:			"logSubmissions",
					label:			"Log Submissions To Database?"|t,
					checked:		settings.logSubmissions,
					instructions:	"This will tell **Spam Guard** to log all [submissions]("~cpUrl('spamguard')~") that get filtered through it"|t,
					errors:			""
				})
			}}
		</div>

		<div class="spamguardSection">
			<h3 class="glyph thirdparty">Integration Settings</h3>
			{{
				forms.checkboxField({
					id:				"enableContactFormSupport",
					name:			"enableContactFormSupport",
					label:			"Enable Contact Form Support?"|t,
					checked:		settings.enableContactFormSupport,
					instructions:	"This features requires [Contact Form 1.3](https://github.com/pixelandtonic/ContactForm) or above"|t,
					errors:			""
				})
			}}
			{{
				forms.checkboxField({
					id:				"enableGuestEntriesSupport",
					name:			"enableGuestEntriesSupport",
					label:			"Enable Guest Entries Support?"|t,
					checked:		settings.enableGuestEntriesSupport,
					instructions:	"This features requires [Guest Entries](https://github.com/pixelandtonic/GuestEntries) and **Craft 1.4** or above"|t,
					errors:			""
				})
			}}
			{{
				forms.checkboxField({
					id:				"enableSproutFormsSupport",
					name:			"enableSproutFormsSupport",
					label:			"Enable Sprout Forms Support?"|t,
					checked:		settings.enableSproutFormsSupport,
					instructions:	"This features requires [Sprout Forms 0.8](http://sprout.barrelstrengthdesign.com/craft-plugins/forms) or above"|t,
					errors:			""
				})
			}}
		</div>

		<div class="spamguardSection">
			<h3 class="glyph settings">Plugin Settings</h3>
			<p>Display Plugin Tab?</p>
			{{
				forms.lightswitch({
				name:		"enableCpTab",
				on:			settings.enableCpTab,
				disabled:	configs.restrictedAreas is defined ? true : false
				})
			}}
			{{
				forms.textField({
					id:				"pluginAlias",
					name:			"pluginAlias",
					label:			"Plugin Alias"|t,
					instructions:	"Allows you to rename <strong>"~name~"</strong> to something more meaningful while retaining its name internally."|t,
					value:			alias,
					errors:			""
				})
			}}
		</div>

		<div class="spamguardSection credits">
			<p>
				&copy; {{ "now" | date("Y") }}
				<strong>{{ name }} <span class="spamguardSubtle">({{ version }})</span></strong>
				{{ "Lovingly crafted by"|t }}
				<a href="{{- developerUrl -}}" title="@selvinortiz" target="_blank">{{- developer -}}</a>
			</p>
		</div>
	</div>
{% endblock %}
