{% import "_includes/forms" as forms %}

{% set name		= craft.spamguard.getName() %}
{% set alias	= craft.spamguard.getName(false) %}
{% set version	= craft.spamguard.getVersion() %}
{% set origin	= settings.akismetOriginUrl | length ? settings.akismetOriginUrl : siteUrl %}

{% block content %}
	<div id="spamGuardSettings">
		<h2>
			<a href="{{ craft.spamguard.getUrl() }}">
				{{ name }} <span class="subtle">V{{ version }} {% if alias != name %}AKA ({{ alias }}){% endif %}</span>
			</a>
		</h2>
		<p>
			<em>{{ name }}</em> allows you to harness the power of
			<a href="http://akismet.com/" title="Akismet">Akismet</a>
			to fight spam.
		</p>

		<div class="spamGuardSection">
			<h3 class="ico security">Akismet Settings</h3>
			{{
				forms.textField({
					id:				"akismetApiKey",
					name:			"akismetApiKey",
					label:			"Akismet API Key"|t,
					instructions:	"The <a href='http://akismet.com'>Akismet</a> service requires a <em>WordPress</em> API Key."|t,
					value:			settings.akismetApiKey,
					first:			true,
					autofocus:		true,
					errors:			""
				})
			}}
			{{
				forms.textField({
					id:				"akismetOriginUrl",
					name:			"akismetOriginUrl",
					label:			"Origin URL"|t,
					instructions:	"Your website (<a href='#{siteUrl}'>#{siteUrl}</a>) or blog URL"|t,
					value:			origin,
					first:			false,
					autofocus:		false,
					errors:			""
				})
			}}
		</div>

		<div class="spamGuardSection">
			<h3 class="ico form">Form Settings</h3>
			<p>
				Enable
				<a href="https://github.com/pixelandtonic/ContactForm" title="Contact Form by P &amp; T">Contact Form</a>
				Support?
			</p>
			{{
				forms.lightswitch({
					name:		"enableFormSupport",
					on:			settings.enableFormSupport
				})
			}}
			<p>
				<a href="{{ craft.spamguard.getUrl() }}" title="View Logs">Log</a> Submissions To Database?
			</p>
			{{
				forms.lightswitch({
					name:		"logSubmissions",
					on:			settings.logSubmissions
				})
			}}
		</div>

		<div class="spamGuardSection">
			<h3 class="ico settings">Plugin Settings</h3>
			<p>Display Plugin Tab?</p>
			{{
				forms.lightswitch({
					name:		"enableCpTab",
					on:			settings.enableCpTab
				})
			}}
			{{
				forms.textField({
					id:				"pluginAlias",
					name:			"pluginAlias",
					label:			"Plugin Alias"|t,
					instructions:	"Allows you to rename <strong>"~name~"</strong> to something more meaningful while retaining its name internally."|t,
					value:			alias,
					errors:			""
				})
			}}
		</div>

		<div class="spamGuardSection credits">
			<p>
				&copy; {{ "now" | date("Y") }}
				<strong>Patrol <span class="subtle">({{ version }})</span></strong>
				<em>by</em>
				<a href="http://twitter.com/selvinortiz" title="@selvinortiz" target="_blank">Selvin Ortiz</a>
			</p>
		</div>
	</div>

{% endblock %}
